// Optimal way to use @font-face can be found here: http://css-tricks.com/snippets/css/using-font-face/

@import "resourcesdir";

@font-face {
    font-family: 'icomoon';
    src:url($resourcesDir + 'fonts/icomoon/fonts/icomoon.eot'); /* IE9 */
    src:url($resourcesDir + 'fonts/icomoon/fonts/icomoon.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url($resourcesDir + 'fonts/icomoon/fonts/icomoon.woff') format('woff'),
    url($resourcesDir + 'fonts/icomoon/fonts/icomoon.ttf') format('truetype'),
    url($resourcesDir + 'fonts/icomoon/fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}