@import "resourcesdir";
@import "component";
@import "colors";

// Mixins

@mixin highlight-header-background {
  background-color: $sky-blue;
}

/*
TODO Move this into a separate button UI.
*/
@mixin transparent-button {
  background: none !important;
  border: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  padding: 0 !important;

  .x-btn-button {
    padding: {
      right: 10px;
      left: 10px;
    }

    .x-btn-inner {
      color: white;
    }

    .x-btn-glyph {
      opacity: 1;
      height: auto;
      line-height: 36px;
      margin: {
        top: 3px;
        left: 10px;
      }
    }
  }
}

@mixin hidden-arrow-button {
  .x-btn-arrow {
    background-image: none;
  }

  .x-btn-arrow-right {
    padding-right: inherit;
  }

  .x-btn-arrow-bottom {
    padding-bottom: inherit;
  }
}

// Buttons

.uni-btn-transparent {
  @include transparent-button;
}

// Tool icons

.x-tool-edit,
.x-tool-edit:before {
  color: white;
  font-family: icomoon;
  background-image: none;
  content: "\e010";
}

// Border layout

.x-border-layout-ct {
  background-color: transparent !important;
}

// App switcher

.nav-appswitcher-menu {
  width: 390px;
  height: 265px;
  overflow-y: auto;

  .app-item {
    float: left;
    padding: 8px;
    margin: 8px {
      right: auto;
      left: auto;
    }

    img {
      width: 74px;
      height: 74px;
    }

    h3 {
      font-size: 12px;
      font-weight: normal;
      text-align: center;
      padding-top: 5px;
      margin: 0;
    }
  }
}

// Sub menu

.uni-submenu {
  background-color: #cbcbcb;

  padding: 10px {
    bottom: 16px;
  }

  margin: {
    top: 8px;
    right: 6px;
    left: 8px;
  }

  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;

  .x-btn {
    @include transparent-button;

    .x-btn-button {
      .x-btn-inner {
        font-weight: normal;
        text-align: left;
        color: #686868;
      }
    }

    height: 28px;
  }

  .x-pressed {
    .x-btn-button {
      .x-btn-inner {
        color: #70bb51;
      }
    }
  }

  .x-over {
    .x-btn-button {
      .x-btn-inner {
        color: #74af74;
      }
    }
  }
}

// Portal

.uni-portal-container {
  .uni-portal-panel {
    margin: 10px;

    .x-panel-body-default {
      border-color: #157fcc !important;
    }
  }
}

.x-panel-ghost {
  z-index: 1;
}

.x-portal-body {
  padding: 0 0 0 8px;
}

.x-portal {
  .x-portal-column {
    // Columns must have vertical padding to avoid losing dimensions when empty.
    padding: 8px 8px 0 0;
  }

  .x-panel-dd-spacer {
    border: 2px dashed $ocean-blue-50;
    background: $ocean-blue-25;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    margin-bottom: 10px;
  }
}

.x-portlet {
  margin-bottom: 10px;
  padding: 1px;
}

.x-portlet .x-panel-body {
  background: #fff;
}

.portlet-content {
  padding: 10px;
  font-size: 11px;
}

// Browse page

.browse-page {
  .info-panel {
    margin: {
      top: 5px;
      right: 10px;
      bottom: 5px;
      left: 10px;
    }

    .info-props {
      padding: 10px;
    }

    .info-prop-row {
      padding: 1px;
    }

    $info-margin: 4px;

    .info-prop-key {
      text-align: right;
      margin-right: $info-margin;
      color: $elster-black-75;
    }

    .info-prop-value {
      margin-left: $info-margin;
    }

    .info-map {
      border: 1px solid $sky-blue-75;
      margin: 10px;
    }

    .info-panel-col-left {
      margin-right: 5px;
    }

    .info-panel-col-right {
      margin-left: 5px;
    }
  }
}

// Edit window

.edit-window {
  padding: 10px;

  td {
    width: auto !important;
  }

  td:first-child {
    width: 50% !important;
  }

  td.x-trigger-cell {
    width: 22px !important;
    position: absolute;
    right: 1px;
  }

  td.x-form-trigger-input-cell {
    width: 100% !important;
  }

  .x-form-invalid td.x-form-item-body {
    width: 44% !important;
  }
}

// Filter form

.filter-form-wrapper {
  .filter-form {
    margin-top: 10px;

    .x-panel-header-default {
      background-color: transparent;
    }

    .x-panel-header-text-container-default {
      color: $ocean-blue;
      font-size: 16px;
    }

    .x-panel-body {
      padding: 5px;
    }

    .x-toolbar {
      padding: 6px;
    }

    .x-toolbar-footer {
      background-color: transparent;
    }
  }
}

// Panels

.x-panel {
  .x-panel-header-default, .x-panel-body-default, .x-panel-body-default-framed {
    border-color: transparent;
  }

  .x-grid-body {
    border-color: silver;
  }
}

.x-window {
  .x-window-body-default {
    border-color: transparent;
  }
}

// Error

.ux-notification-light .x-window-body {
  text-align: center;
  padding: 15px 5px 20px 5px;
  background-color: transparent;
  border: 0px;
}

.ux-notification-light .x-window-header {
  background-color: transparent;
  border: 0px;
}

.ux-notification-light {
  background-image: url('images/shared/fader.png');
  border: 1px solid grey;
}

.uni-info-icon {
  float: right;
}

.uni-icon-info-small {
  float: right;
  background-image: url('images/shared/icon-info-small.png');
}

.x-grid-row-selected, .x-grid-row-over {
  .uni-icon-info-small {
    background-image: url('images/shared/icon-info-small-white.png');
  }
}

// Other

.validation-column-align {
  vertical-align: middle;
}

.uni-icon-validation {
  background-size: 100% 100%;
  display: inline-block;
  height: 13px;
  width: 13px;
  vertical-align: middle;
  background-position: left;
}

.uni-icon-validation-black {
  background-image: url('images/shared/Not-validated.png');
}

.uni-icon-validation-red {
  background-image: url('images/shared/Suspect.png');
}

.uni-icon-filter {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAQAAADY4iz3AAAAgUlEQVR4XqXL0QmDMBgE4KML+FQQtEHBQEDAERwloziCI2UER3CEfwHlmh6UUGqfeh/wXziC0UZeMoQYKFtIsgVKBOBXT89hgTIsntkKSJ96ZnNus1rCO13ldkdnj+gs372rUNJOjTUUayd8po41JeI7d76U963UUy6nQ37/+nt6AuFSTUUWSLwtAAAAAElFTkSuQmCC);
  display: inline-block;
  height: 13px;
  width: 13px;
}

.uni-icon-edit {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAQAAADY4iz3AAABCElEQVR4AUXAsUpCYRgG4Pec49oabrVa6f+f7/2+IxlCFoYNgoJLDeIiOEZEgdfQbZSEYUSCEBRIERQ0uNYQ3UPQWiLlgzmmAM1pP3mVUVzHnIQAE313NUAT3q3VMKMBwKJ86q0fLrUAydoIUxICssmxlXns23a91QTcCwCJACnxwRJrZAoAD22gDfZhIUDHnvhkf2UbSCq+LQO+xQJAvX7zPj7wDrC623EF/VAFwEXtuyO/xzE7LLuqz+gjNwCJkK3wBr8kzWfXccv6FJcASQGQE15IzhYssBav9Jy7gEWYYo/rbNoqoF39Yh6wADMykUCVZ/lLDlkELMQfOZUJe9p1VUkDEuHfD98yRLLTNcEZAAAAAElFTkSuQmCC);
  display: inline-block;
  height: 13px;
  width: 13px;
}

.uni-icon-remove {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAAgUlEQVR4Xp3SgQaAMBSF4Ugv1jNUQ09XKqVH6xG6Uye2HHMWGj9yfbRrxe9zdHWFVuTErEczKlOwowtZgAwszNYXhg8ARJABNUXkxNCHGJyofUwWfoEUegGMgNiSRh45Db5/zwhmgSGvYESLuHSTWc4YUYk2Bmqr/CoYTgwSODC4AfgYBvI33Gc0AAAAAElFTkSuQmCC);
  display: inline-block;
  height: 13px;
  width: 13px;
}

.x-btn .device-flag {
  background-image: url('/apps/sky/build/resources/images/shared/Not-validated.png');
  height: 13px;
  width: 13px;
}
.x-btn.x-btn-pressed .device-flag {
  background-image: url('/apps/sky/build/resources/images/shared/Suspect.png');
}

.uni-icon-arrow-up {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAYklEQVR4XmMY5qBw7XFvECZXMwcQ3wXieyA2OQbUA/F/KK4nVbMiEH+HGQBlK5JiwGa4ZgTeTKxmH7gmTOxNTMDdw2UAwQAFamgAaSCAGwgGHDZMMECBGrbANRDGWxiGDwAATsHH9SBuh2YAAAAASUVORK5CYII=');
  display: inline-block;
  height: 16px;
  width: 16px;
}

.x-over .uni-icon-arrow-up {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAY0lEQVR42mNgGN4gYvpmbxAmVzMHEN8F4nsgNjkG1APxfyiuJ1WzIhB/RzIAxFYkxYDNSJpheDOxmn2waIZhb2IC7h4eA/AHKFCyAY9mGG4gNuBwYewBChTcQoRmGN4yjPILADretJerptwEAAAAAElFTkSuQmCC');
}

.x-disabled .uni-icon-arrow-up {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAAWUlEQVR4XmOgO7jifcUbnzTHlbtX7l3hwK2g/sp/IGzAJa145TtIAZBUxK5gM1ASArdgk/YBSiCgD6bz7iErwHDqlQagBCpsxHQeKvx+RQmhYAuKFMKp9AEAAWt5EFx4I5sAAAAASUVORK5CYII=');
}

.uni-icon-arrow-down {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAXklEQVR4XmMYRqBw7fEtQPyfSLwFmwFKQPydkAFQNcq4XNFIhAFN+LzBAcT3cBkAleMgFBa+eAzwpSRAt5ASI4rIAQplK5EarQ1IBjTiUkcwQAkEHEFDvIHYh2F4AwACCcgGZB4GZgAAAABJRU5ErkJggg==');
  display: inline-block;
  height: 16px;
  width: 16px;
}

.x-over .uni-icon-arrow-down {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAXklEQVR4XmMYRiBi+uYtQPyfSLwFmwFKQPydkAFQNcq4XNFIhAFN+LzBAcT3cBkAleMgFBa+eAzwpSRAt5ASI4rIAQplK5EarQ1IBjTiUkcwQAkEHEFDvIHYh2F4AwBNKbSofp5SiQAAAABJRU5ErkJggg==');
}

.x-disabled .uni-icon-arrow-down {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAAVklEQVR4XmOgE7iy5cp/LHALQoHSle8YCr5fUUI2oxFDQSOqJRxX7qEouHeFA90dvigKfPA7dQt2vyhCnAokFXF5twGsoAFZDMOpKM7DBFe8gc6jNwAAyEZ5Fzsdi60AAAAASUVORK5CYII=');
}

.previous-next-navigation-items-counter {
  color: #686868;
  padding-right: 10px;
}
