.#{$prefix}container-actions {
    margin: {
        top: 32px;
    }

    padding: {
        left: 14px;
    }

    *[class*='#{$prefix}btn-link-'] {
        margin: {
            left: 16px;
        }
    }
}