@import "NavigationMenu";

@mixin icon($icon) {
    .icon-#{$icon} {
        background-image: url('images/container/appcenter/#{$icon}.png');
    }
}

.uni-nav-appcenter-menu {
    position: absolute !important;
    z-index: 20001 !important;
    height: auto !important;
    bottom: 0;

    border-top: 1px solid #597d9d;
    overflow: visible;

    background: -webkit-linear-gradient(top, $header-default-bg-gradient-start-color, $header-default-bg-gradient-end-color); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom, $header-default-bg-gradient-start-color, $header-default-bg-gradient-end-color); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom, $header-default-bg-gradient-start-color, $header-default-bg-gradient-end-color); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, $header-default-bg-gradient-start-color, $header-default-bg-gradient-end-color); /* Standard syntax */

    .#{$prefix}menu-body {
        background-color: transparent;
        overflow: visible;

        .#{$prefix}box-inner {
            overflow: visible;
        }
    }

    .uni-nav-appcenter-dataview {
        margin-right: -5px !important;
        left: 0 !important;

        .handlebar {
            background-color: $header-default-bg-gradient-start-color;
            position: absolute;
            width: 47px;
            height: 1px;
            top: -1px;
        }

        a {
            text-transform: uppercase;
            text-decoration: none;
            white-space: nowrap;
            font-size: 16px;
            color: white;

            .app-item {
                padding: {
                    top: 16px;
                    right: 16px;
                    bottom: 4px;
                }

                &:hover {
                    background-color: $color-blue-2;
                }

                .icon {
                    background-repeat: no-repeat;
                    background-position: center;
                    display: inline-block;
                    position: relative;
                    width: 32px;
                    height: 32px;
                    top: -6px;

                    margin: {
                        right: 8px;
                        left: 7px;
                    }
                }

                @include icon('connexo');
                @include icon('devices');
            }
        }
    }
}