

@mixin container (
  $ui,
  $background-color: $container-default-background-color,
  $color: $container-default-color
) {
  .#{$prefix}container-#{$ui} {
      background-color: $background-color;
      color: $color;
  }
}

@include container('default');

@import "BreadcrumbTrail";