@import "../button/TransparentButton";

@mixin highlight-header-background {
    background-color: $color-blue-2;
}

@mixin hidden-arrow-button {
    .x-btn-arrow {
        background-image: none;
    }

    .x-btn-arrow-right {
        padding-right: inherit;
    }

    .x-btn-arrow-bottom {
        padding-bottom: inherit;
    }
}

.icon-logout {
    background-image: url('images/container/ico_profile.png') !important;
    width: 20px;
    height: 20px;
}

.#{$prefix}container-navigationheader {
    background-color: $header-default-background-color;
    color: $header-default-color;
    z-index: 20000;

    padding: {
        right: 10px;
    }

    background: -webkit-linear-gradient(left, $header-default-bg-gradient-start-color, $header-default-bg-gradient-end-color); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, $header-default-bg-gradient-start-color, $header-default-bg-gradient-end-color); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, $header-default-bg-gradient-start-color, $header-default-bg-gradient-end-color); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, $header-default-bg-gradient-start-color, $header-default-bg-gradient-end-color); /* Standard syntax */

    .nav-appswitcher,
    .nav-toggler,
    .notifications-anchor,
    .nav-help,
    .user-menu {
        @include transparent-button;

        .icon-logout {
            margin: 14px 8px;
            width: 20px !important;
            height: 20px !important;
        }

        &:hover {
            @include highlight-header-background;
        }
        padding: 0 4px;
    }

    .x-menu-active {
        @include highlight-header-background;
    }

    .nav-toggler {
        @include hidden-arrow-button;

        .x-btn-button .x-btn-glyph {
            opacity: 0.5;
        }

        &:hover .x-btn-button .x-btn-glyph {
            opacity: 1.0;
        }
    }

    .x-pressed .x-btn-button .x-btn-glyph {
        opacity: 1.0;
    }

    .nav-toggler .x-pressed {
        .x-btn-button {
            .x-btn-glyph {
                opacity: 1.0;
            }
        }
    }

    .nav-appswitcher, .notifications-anchor {
        @include hidden-arrow-button;
    }

    .search-field {
        $field-width: 240px;
        width: $field-width;

        .x-form-item-body {
            float: right;

            input {
                $field-radius: 10px;
                border-radius: $field-radius;
                -moz-border-radius: $field-radius;
                -webkit-border-radius: $field-radius;
                $transition: all 1s ease;
                transition: $transition;
                -moz-transition: $transition;
                -webkit-transition: $transition;
                -o-transition: $transition;
                -ms-transition: $transition;
                width: $field-width * 0.50;
                height: 24px;

                &:focus, &:hover {
                    width: $field-width;
                }
            }
        }
    }

    .search-button {
        @include transparent-button;
        margin-left: 5px;

        &:hover {
            @include highlight-header-background;
        }
    }
}