@import "Container";

@mixin uni-container-navigationmenu() {
  border-right: $color-blue 1px solid;
  background-color: $color-blue;
  padding-top: 12px;
  $item-height: 50px;

  $menu-width-expanded: 200px;
  $menu-width-collapsed: 55px;

  position: absolute;
  top: 0;
  bottom: 0;
  width: $menu-width-collapsed !important;
  z-index: 100;

// Animation
  $transition-length: 400ms;
  transition: width $transition-length;
  -moz-transition: width $transition-length; /* Firefox 4 */
  -webkit-transition: width $transition-length; /* Safari and Chrome */
  -o-transition: width $transition-length; /* Opera */

  &:hover {
    width: $menu-width-expanded !important;
  }

  .menu-item, .x-box-inner, .x-box-target {
    width: 100% !important;
  }

  .x-panel-body-default {
    background-color: transparent;
  }

  .x-pressed {
    background-color: $color-white;

    .x-btn-button {
      .x-btn-inner, .x-btn-glyph {
        color: $color-blue;
      }

      &:hover {
        background-color: $color-white;
      }
    }
  }

}

  @include container('navigationmenu');
  @include uni-container-navigationmenu();