/**
 * @class Ext.button.Button
 */

// Default button colors
$button-default-background-color: #71adc7 !default;
$button-toolbar-background-color: #71adc7 !default;
$button-default-background-color-over: #5897b3 !default;
$button-default-background-color-pressed: #8ec5dc !default;
$button-default-background-color-focus: #71adc7 !default;

// Default border radiuses
$button-small-border-radius: 5px !default;
$button-medium-border-radius: $button-small-border-radius !default;
$button-large-border-radius: $button-small-border-radius !default;

// Default border color
$button-default-border-color: transparent !default;
$button-toolbar-border-color-focus: #11739e !default;
$button-default-border-color-focus: #11739e !default;
$button-default-border-color-over: $button-default-border-color;
$button-default-border-color-pressed: $button-default-background-color-pressed;
$button-default-border-color-disabled: $button-default-border-color !default;

// Default border width
$button-small-border-width: 1px !default;
$button-medium-border-width: $button-small-border-width !default;
$button-large-border-width: $button-small-border-width !default;

// Default background gradient
$button-default-background-gradient: 'none' !default;
$button-default-background-gradient-disabled: $button-default-background-gradient !default;
$button-default-background-gradient-over: $button-default-background-gradient !default;
$button-default-background-gradient-pressed: $button-default-background-gradient !default;

// Disabled button colors
$button-default-background-color-disabled: #d4d4d4 !default;
$button-toolbar-background-color-disabled: #d4d4d4 !default;
$button-default-color-disabled: #ffffff !default;
$button-toolbar-color-disabled: #ffffff !default;
$button-opacity-disabled: 1 !default;
$button-toolbar-opacity-disabled: 1 !default;

// Default button font
$button-small-font-family: 'Lato', helvetica, arial, verdana, sans-serif !default;
$button-medium-font-family: $button-small-font-family !default;
$button-large-font-family: $button-small-font-family !default;

$button-small-font-weight: 'normal' !default;
$button-medium-font-weight: $button-small-font-weight !default;
$button-large-font-weight: $button-small-font-weight !default;

$button-small-font-size: 13px !default;

// Default padding
$button-small-padding: 4px !default;
$button-small-text-padding: 4px !default;
$button-medium-padding: $button-small-padding !default;
$button-medium-text-padding: $button-small-padding !default;
$button-large-padding: $button-small-padding !default;
$button-large-text-padding: $button-small-padding !default;

// Action Icon
$button-small-icon-size: 16px !default;
$button-action-iconA: url("images/button/ico_actionsA.png") !default;
$button-action-iconD: url("images/button/ico_actionsD.png") !default;
$button-action-icon: url("images/button/ico_actions.png") !default;

// Toolbar Button
@import "Toolbarbutton";

// Remove Button
@import "RemoveButton";

// Link Button
@import "LinkButton";

// Action Button
@import "ActionButton";

// MenuItem Button
@import "MenuItemButton";

// Tag Button
@import "TagButton";

// Sort Item Button
@import "SortItemButton";

// Grid navigation button
@import "GridNavigation";

// Step button
@import "StepButton";

// Plain button
@import "PlainButton";

@import "IconButton";

@import "ColExpButton";