$button-colexp-background-color: rgba(0, 0, 0, 0) !default;

$button-colexp-glyph-color: $color-grey !default;

$button-colexp-color: $color-blue-2 !default;
$button-colexp-color-over: $color-blue-1 !default;
$button-colexp-color-focus: #000000 !default;
$button-colexp-color-pressed: #649cb4 !default;
$button-colexp-color-disabled: $color-grey-7 !default;
$button-colexp-border-color-focus: transparent !default;