$button-plain-border-width: 0 !default;
$button-plain-padding: 0 !default;
$button-plain-text-padding: 0 !default;
$button-plain-background-color: transparent !default;
$button-plain-background-color-over: transparent !default;
$button-plain-background-color-focus: transparent !default;
$button-plain-background-color-pressed: transparent !default;
$button-plain-background-color-disabled: transparent !default;
$button-plain-icon-size: 16px !default;
$button-plain-include-ui-menu-arrows: false !default;
$button-plain-opacity-disabled: 0.5 !default;
$button-plain-inner-opacity-disabled: 0.999 !default;
$button-plain-cursor: pointer !default;