$button-remove-background-color: #eb5642 !default;
$button-remove-color: #ffffff !default;
$button-remove-background-color-over: #ff5740 !default;
$button-remove-background-color-disabled: #d2d2d2 !default;
$button-remove-background-color-pressed: #ec7464 !default;
$button-remove-background-color-focus: #e0422d !default;
$button-remove-background-border-focus: 1px solid #a32514 !default;
$button-remove-border-color-focus: #a32514 !default;