$heading-font-family-hierarchy: 'Marvel', helvetica, arial, verdana, sans-serif !default;
$heading-font-color-base: #686868 !default;
$heading-font-color-emphasis: #1e7d9e !default;

$heading-font-size-h1: 60px !default;
$heading-font-size-h2: 30px !default;
$heading-font-size-h3: 20px !default;
$heading-font-size-h4: 18px !default;
$heading-font-size-h5: 16px !default;
$heading-font-size-h6: 14px !default;