<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <servers>
        <!-- NOTE : No need to change these usernames or passwords -->
        <server>
            <id>eict-releases</id>
            <username>e841294</username>
            <password>Honeywell@123</password>
        </server>
        <server>
            <id>eict-snapshots</id>
            <username>e841294</username>
            <password>Honeywell@123</password>
        </server>

    </servers>
    <profiles>
        <profile>
            <id>local-felix-copy-path</id>
            <properties>
                <!--<felix.load.folder>C:\Felix\felix-framework-4.4.1\load</felix.load.folder> -->
                <felix.load.folder>C:\Felix\felix-framework-7.0.0\load</felix.load.folder>
            </properties>
        </profile>
        <profile>
            <id>sencha-cmd-properties</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <sencha.cmd.dir>C:\Users\buildadmin\bin\Sencha\Cmd\4.0.5.87</sencha.cmd.dir>
            </properties>
        </profile>
        <!--	  <profile>
              <id>local-test</id>
                <properties>
                   <sencha.cmd.dir>C:\Users\E841294\bin\Sencha\Cmd\4.0.5.87</sencha.cmd.dir>
                </properties>
          </profile> -->
    </profiles>
    <activeProfiles>
        <activeProfile>local-felix-copy-path</activeProfile>
        <!--<activeProfile>eict-nexus</activeProfile>
        <activeProfile>local-test</activeProfile> -->
    </activeProfiles>
</settings>