.uni-confirmation-window {
    .#{$prefix}toolbar {
        // TODO Enable this again when the buttons are not center aligned anymore.
//        margin-left: 42px;
    }

    *[class*='#{$prefix}message-box-'] {
//        background-image: url('images/shared/icon-confirm.png');
    }

  .#{$prefix}dlg-icon{
    font-size: 22px;
    color: #eb5642;
  }

  *[class*='#{$prefix}window-'] {
        .#{$prefix}header-text {
          font-weight: bold;
          font-size: 16px;
          color: #eb5642;
        }

    .#{$prefix}form-display-field {
      margin-top: 16px;
      color: #686868;
    }

    *[class*='#{$prefix}message-box-'] {
      background-position: 12px 4px;
    }
  }
}

.confirmation-window .x-panel-body {
	color: #eb5642;
    padding: 0 0 15px 65px;    
}

