
.#{$prefix}toolbar {
    background-color: transparent !important;
}

.#{$prefix}toolbar .#{$prefix}btn {
    margin: 0 5px !important;
}

.#{$prefix}toolbar-text {
    margin: $toolbar-text-margin-bugfix;
}

.x-toolbar-separator {
    margin: 0 5px !important;
}

.#{$prefix}tbar-page-first {
    margin: 4px 0 0 0;
}

.#{$prefix}tbar-page-prev {
    margin: 4px 0 0 3px;
}

.#{$prefix}tbar-page-next {
    margin: 4px 0 0 6px;
}

.#{$prefix}tbar-page-last {
    margin: 4px 0 0 0;
}