.#{$prefix}uni-action-iconA {
    background-image: $button-action-iconA;
}

.#{$prefix}uni-action-iconD {
    background-image: $button-action-iconD;
}

.#{$prefix}uni-action-icon {
    background-image: $button-action-icon;
}

.#{$prefix}grid-row-selected, .active {
    .#{$prefix}uni-action-icon {
        background-image: $button-action-iconA;
    }
}

.#{$prefix}btn-default-toolbar-small .#{$prefix}btn-arrow {
    background-image: url('images/button/default-small-arrow.png');
}

.#{$prefix}btn-default-small-pressed,
.#{$prefix}btn-default-medium-pressed,
.#{$prefix}btn-default-large-pressed,
.#{$prefix}btn-default-toolbar-small-pressed,
.#{$prefix}btn-default-toolbar-medium-pressed,
.#{$prefix}btn-default-toolbar-large-pressed {
    background: linear-gradient(#2591bf, #47b4e4 61%);
}

.#{$prefix}btn {
    margin-right: 8px !important;
}

@import "RemoveButton";

@import "LinkButton";

@import "MenuItemButton";

@import "ActionButton";

@import "TagButton";

@import "SortItemButton";

@import "NavigationLogoButton";

@import "StepButton";

@import "GridNavigation";
