.#{$prefix}uni-action-iconA {
    background-image: $button-action-iconA;
}

.#{$prefix}uni-action-icon {
    background-image: $button-action-icon;
}
.active {
  .#{$prefix}uni-action-icon {
    background-image: $button-action-iconA;
  }
}

.#{$prefix}btn-default-toolbar-small .#{$prefix}btn-arrow {
    background-image: url('images/button/default-small-arrow.png');
}

@import "DeleteButton";

@import "LinkButton";

@import "MenuItemButton";

@import "ActionButton";

@import "TagButton";

@import "SortItemButton";

@import "NavigationLogoButton";

@import "StepButton";

@import "GridNavigation";
