@import "TransparentButton";

@mixin uni-button-menuitem() {
  .#{$prefix}btn-menuitem-large {
    text-align: left;
    .#{$prefix}btn-button {
      height: 50px;

      .x-btn-inner, .x-btn-glyph {
        line-height: 47px;
        text-align: left;
        margin-top: 3px;
        //background-color: $color-blue;
      }

      .x-btn-inner {
        margin-left: 10px;
        //background-color: $color-blue;
      }

      .x-btn-glyph {
        margin-left: 12px;
        //background-color: $color-blue;
      }

      .x-pressed {
        background-color: $color-white;

        .x-btn-button {
          .x-btn-inner, .x-btn-glyph {
            color: $color-blue;
          }

          &:hover {
            background-color: $color-white;
          }
        }
      }
    }
  }
}

@if $include-button-default-large-ui {
@include extjs-button-large-ui(
  $ui: 'menuitem',
  $background-color: $color-blue,
  $background-color-over: $color-white,
  $background-color-focus: $color-white,
  $background-color-pressed: $color-white,
  $glyph-color: $color-white,
  $color: $color-blue,
  $color-over: $color-white,
  $color-focus: $color-white,
  $color-pressed: $color-white
);
  @include uni-button-menuitem();
  @include transparent-button();
}



