@import "TransparentButton";

@mixin uni-icon($glyph) {
    .uni-icon-#{$glyph} {
        background-image: url('images/container/menu/#{$glyph}.png');
    }
}

@mixin uni-icon-pressed($glyph) {
    .uni-icon-#{$glyph} {
        background-image: url('images/container/menu/#{$glyph}Selected.png') !important;
    }
}

@mixin uni-button-menuitem() {
    *[class*='#{$prefix}btn-menuitem-'] {
        @include transparent-button();
        text-align: left;

        .#{$prefix}btn-button {
            height: 48px;

            padding: {
                right: 5px;
                left: 5px;
            }

            .#{$prefix}btn-inner, .#{$prefix}btn-glyph {
                line-height: 45px;
                text-align: left;
                margin-top: 3px;
                font-size: 14px;
            }

            .#{$prefix}btn-inner {
                margin-left: 10px;
                padding-left: 38px;
            }

            &:hover {
                background-color: $color-blue-2;
            }

            .#{$prefix}btn-icon-el {
                width: 48px;
            }

            *[class*='uni-icon-'] {
                background-position: center center;
                background-repeat: no-repeat;
            }

            @include uni-icon('home');
            @include uni-icon('workspace');
            @include uni-icon('devices');
            @include uni-icon('settings');
        }
    }

    .#{$prefix}pressed {
        @include uni-icon-pressed('home');
        @include uni-icon-pressed('workspace');
        @include uni-icon-pressed('devices');
        @include uni-icon-pressed('settings');
    }
}

@if $include-button-default-large-ui {
    @include extjs-button-large-ui(
    $ui: 'menuitem',
    $background-color: $color-blue,
    $background-color-over: $color-white,
    $background-color-focus: $color-blue,
    $background-color-pressed: $color-blue,
    $glyph-color: $color-white,
    $color: $color-blue,
    $color-over: $color-white,
    $color-focus: $color-blue,
    $color-pressed: $color-blue
    );

    @include uni-button-menuitem();
}



