.uni-actioncolumn-gear {
    content: url('images/grid/masterActions.png');

    margin: {
        left: 12px;
    }

    .#{$prefix}grid-row-selected &,
    .#{$prefix}grid-row-focused &,
    .#{$prefix}grid-row-over & {
        content: url('images/grid/masterActionsHighlight.png');
    }
}