.#{$prefix}grid-header-ct {
  border-color: $grid-header-border-color;
  border-width: $grid-header-border-width;
  border-style: $grid-header-border-style;
  @include border-radius($grid-header-border-radius $grid-header-border-radius 0 0);
}