.communication-tasks-status {
  [class^="icon-"], [class*=" icon-"] {
    margin: 10px 5px 10px 10px;
  }
  .icon-checkmark {
    color: #53ff62;
  }
  .icon-close {
    color: #ff5676;
  }
  .icon-stop2 {
    color: #464648;
  }
}