.icon-validation-cell {
  background-repeat: no-repeat;
  background-position: 100% 50%;
  padding: 0px 8px 0 0;
}

.icon-validation-black {
  background-image: url("images/shared/Not-validated.png");
}

.icon-validation-red {
  background-image: url("images/shared/Suspect.png");
}