$contentcontainer-default-background-color: $color-white !default;
$contentcontainer-default-header-text-container-default-background-color: $color-blue-3 !default;

$contentcontainer-padding-center: 0px 16px 16px 16px !default;


