.#{$prefix}menu {
  .#{$prefix}menu-body {
    border-radius: $menu-border-radius;
  }

  .#{$prefix}menu-item {
      padding: 0 8px;
      .#{$prefix}menu-item-link {
        padding: 4px 8px;
      }
      .#{$prefix}menu-item-text {
        color: $menu-text-color;
      }
  }

  .#{$prefix}menu-item + .#{$prefix}menu-item .#{$prefix}menu-item-link {
    border-top: $menu-separator-background-color $menu-separator-background-style;
  }

  .#{$prefix}menu-item:last-child {
    padding-bottom: 4px;
  }

  .#{$prefix}menu-item:first-child {
    padding-top: 4px;
  }
}

.#{$prefix}panel-side-menu {
  background: #d3d3d3;
  @include border-radius(16px);
  padding: 8px 16px;
  margin-bottom: 16px;

  .#{$prefix}panel-header {
    padding: 8px 0;
    text-transform: uppercase;
    border-bottom: 1px solid gray;
    @include border-radius(0);
  }

  .#{$prefix}menu-body {
    background: none;
    .#{$prefix}menu-item {
      padding: 8px 0;
    }
  }
}