$container-default-background-color: transparent !default;
$container-default-border-radius: 0px !default;
$container-default-color: $color-white !default;

$breadcrumb-default-background-color: $color-blue-2 !default;
$breadcrumb-default-color: $color-white !default;