$container-default-background-color: transparent !default;
$container-default-border-radius: 0px !default;
$container-default-color: $color-white !default;
$container-default-padding: 32px 40px 16px 16px !default;


@import "NavigationHeader";
@import "NavigationMenu";
@import "Breadcrumb";
@import "ContentContainer";
