@mixin link() {
  $ui: 'link'
}

@include link();

.#{$prefix}component-link {
  background-color: $link-default-background-color;
  color: $link-default-color;
  a {
    color: $link-default-color;
  }
}