@mixin linkseparator() {
  $ui: 'linkseparator'
}

@include linkseparator();

.#{$prefix}component-linkseparator {
  background-image: $link-background-image;
  width: 14px;
  height: 13px;
  margin: 5px 5px 5px 5px;
  background-repeat: no-repeat;
}