@import "Arrow_legacy";
@import "Headings";

@import "breadcrumb/BreadcrumbLink";
@import "breadcrumb/BreadcrumbLinkSeparator";

.#{$prefix}panel-login-container {
  background-image: url('images/container/loginBackground.png') !important;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto;
  z-index: 9999;

  .#{$prefix}panel-login-panel {
    background-color: white;
    @include border-radius(10px);
    padding: 65px 82px;
  }
}

