$button-link-background-color: rgba(0,0,0,0) !default;

$button-link-glyph-color: $color-grey;

$button-link-color: $color-grey;
$button-link-color-over: $color-blue-2;
$button-link-color-focus: $color-blue-2;
$button-link-color-pressed: $color-blue-1;
$button-link-color-disabled: $color-grey-5;