$button-link-background-color: transparent !default;
$button-link-background-color-over: transparent !default;
$button-link-background-color-pressed: transparent !default;
$button-link-background-color-focus: transparent !default;
$button-link-glyph-color: $base-color;
$button-link-color: $base-color;
$button-link-color-over: $color-blue-2;