$button-tag-background-color: $color-grey-9;
$button-tag-color: $color-grey;
$button-tag-background-color-pressed: $color-grey-8;
$button-tag-background-color-over: $color-grey-10;

$button-tag-close-icon-default: url("images/button/tag-small-s-arrow.png");
$button-tag-close-icon-over: url("images/button/tag-small-s-arrow-hover.png");

$button-tag-close-icon-size: 16px;
$button-tag-close-icon-right: 10px;
$button-tag-close-icon-left: 10px;
$button-tag-close-icon-top: 1px;

$btn-tag-icon-hpadding: 10px;


$btn-tag-text-left-padding: $button-small-icon-size + $btn-tag-icon-hpadding;
$btn-tag-text-right-padding: $button-tag-close-icon-size + $btn-tag-icon-hpadding * 2;
$btn-tag-text-padding: 0 $btn-tag-text-right-padding 0 $btn-tag-text-left-padding;
$btn-tag-noicon-text-padding: 0 $btn-tag-text-right-padding 0 10px;