$button-tag-background-color: #70bb51;
$button-tag-color: #FFFFFF;
$button-tag-background-color-pressed: #64a848;
$button-tag-background-color-over: #7ec162;

$button-tag-close-icon-default: url("images/button/tag-small-s-arrow.png");
$button-tag-close-icon-over: url("images/button/tag-small-s-arrow-hover.png");

$button-tag-close-icon-size: 16px;
$button-tag-close-icon-right: 10px;
$button-tag-close-icon-top: 1px;
