$button-toolbar-background-color: #A0A0A0;
$button-toolbar-color: #FFFFFF;
$button-toolbar-background-color-pressed: #909090;
$button-toolbar-background-color-over: #a9a9a9;
$button-toolbar-background-color-focus: $button-toolbar-background-color;