// Toolbar button colors
$button-toolbar-background-color: #A0A0A0;
$button-toolbar-color: #FFFFFF;
$button-toolbar-background-color-pressed: #909090;
$button-toolbar-background-color-over: #a9a9a9;
$button-toolbar-background-color-focus: $button-toolbar-background-color;

//Toolbar button gradient
$button-toolbar-background-gradient: 'none' !default;
$button-toolbar-background-gradient-disabled: $button-default-background-gradient !default;
$button-toolbar-background-gradient-over: $button-default-background-gradient !default;
$button-toolbar-background-gradient-pressed: $button-default-background-gradient !default;

