.uni-panel-no-items-found {
    border: 1px solid #d2d2d2;
    border-radius: 10px;
    padding: {
        top: 16px;
        right: 24px;
        bottom: 24px;
    }

    .uni-panel-no-items-found-header {
      background-image: url('images/shared/icon-error.png');
      background-position: 4px 4px;
      background-repeat: no-repeat;
      font-family: 'Lato', helvetica, arial, verdana, sans-serif;
      font-size: 18px;
      color: #686868;
      padding: {
        top: 8px;
        right: 128px;
        bottom: 8px;
        left: 48px;
      }
    }

    .message > .#{$prefix}panel-body {
        background-color: transparent;
    }

    .reasons-text {
      padding-left: 32px;
    }

    ul {
        list-style: none;
        margin: 0 {
            top: 14px;
            bottom: 18px;
        }
        padding-left: 32px;
        li {
            background-image: url('images/container/bullet.png');
            background-position: left 2px;
            background-repeat: no-repeat;
            padding-left: 24px;
            margin: 0 {
                bottom: 8px;
            }
        }
    }

    .steps {
        margin-top: 8px;
    }

    *[class*='#{$prefix}panel-body-'] {
        font-size: 13px;
        color: #686868;
    }
}