@import "RadioButton";
@import "Trigger";


.#{$prefix}form-field{
  border-radius: $form-field-border-radius;
  height: $form-field-height;
  background-color: #ffffff;
}

.#{$prefix}form-invalid-under {
    background: none;
    color: $form-error-msg-color;
    font: $form-error-under-font;
    padding: $form-error-msg-padding;
}

.#{$prefix}form-invalid-field {
	border-color: #eb5642;
}